html, body {
	margin: 0;
	padding: 0;
}

#overlay{
	position: absolute;
	z-index: 2;
	bottom: 0;
	top: 10%;
	right: 0;
	left: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	filter: progrid:DXImageTransform.Microsoft.AlphaImage(src='.../img/overlay.png', sizingMethod='scale');
	-ms-filter: "progrid:DXImageTransform.Microsoft.AlphaImage(src='../img/overlay.png', sizingMethod='scale')";
	pointer-events: none;
}

#map {
    margin: 0;
    padding: 0;
}

#logo img {
	width: 275px;
}