html, body {
	font-family: 'Montserrat', sans-serif;
	margin: 0; 
	padding: 0; 
	height: 100%; 
	overflow: hidden;
}

.intro {
	display: inline;
	font-size: 18px;
}

#logo img {
	width: 275px;
}

#map {
	position: absolute; 
	left: 0px; right: 0px; bottom: 0px; top: 0px; 
}